.add-menu-item-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  /* position: relative; */
  /* top: 0px;
  right: 20px; */
  float: right;
  /* margin-top: 5px;
  margin-right: 2px; */
}
h1 {
  text-align: center;
}
/* .admin-dashboard {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
} */
.menu-items-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}

.menu-item {
  width: 300px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.menu-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
/* .menu-item h3 {
  margin: 10px;
}

.menu-item p {
  margin: 0 10px 10px;
} */
.menu-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
