.user-dashboard {
  padding: 20px;
  position: relative; /* Add this to make sure the cart popup aligns properly */
}

.dashboard-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.dashboard-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dashboard-button:hover {
  background-color: #0056b3;
}

.user-dashboard h1 {
  font-size: 3rem;
  font-family: "Arial", sans-serif;
  color: #333;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.cart-icon {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 999;
  cursor: pointer; /* Add cursor pointer for better UX */
}

.cart-icon svg {
  font-size: 70px;
  color: #333;
}

.cart-count {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: #007bff;
  color: #fff;
  border-radius: 50%;
  padding: 5px 8px;
  font-size: 0.8rem;
}

.cart-popup {
  position: fixed;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 999;
  display: none; /* Initially hide the cart popup */
}

.cart-popup h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.cart-popup ul {
  list-style: none;
  padding: 0;
}

.cart-popup ul li {
  margin-bottom: 5px;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* MenuItems component CSS */
.menu-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.menu-item {
  width: 300px;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.menu-item:hover {
  transform: translateY(-5px);
}

.menu-item img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.menu-item h3 {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 1.2rem;
}

.menu-item p {
  margin-bottom: 10px;
  color: #666;
}

.menu-item button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.menu-item button:hover {
  background-color: #0056b3;
}
cart-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 999;
  overflow-x: hidden;
  transition: 0.5s;
  transform: translateX(-100%);
}

.cart-modal-content {
  padding: 20px;
}

.cart-modal-content .close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

.cart-modal.show {
  transform: translateX(0);
}
